<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3><%=listing.title%></h3>
    <p><%=listing.description%></p>
    <p>Price:&#8377 <%=listing.price.toLocaleString("en-IN") %></p>
    <p>Location: <%=listing.location%></p>
    <p>Country: <%=listing.country%></p>
</body>
</html>